*{
    box-sizing: border-box;
}

body{
    background-image: url("./new-year.jpg");
    min-height: 100hv;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    background-position: center  center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.countdown-container{
    display: flex;
    margin-top: 27rem;
    color: #AEAEAE;
}
.big-text{
    font-weight: bold;
    font-size: 8rem;
    margin: 0 4rem;
}

.countdown-el{
    text-align: center;
}
.countdown-el .desc {
    font-size: 2rem;
}